{
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "providers": "./src/providers",
        "routes": "./src/routes",
        "styles": "./src/styles",
        "assets": "./src/assets"
      }
    }]
  ]
}